################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Output/x86/Debug
/packages
/Robot.Business/bin/Debug
/Robot.Business/obj
/Robot.Model/bin/Debug
/Robot.Model/obj
/Robot.Tests/bin
/Robot.Tests/obj
/Robot.Web/bin
/Robot.Web/obj
/HttpRequestServer/obj
/Output/x86/Release
