
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<html>
<head>
    <title>Robot</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        var flag;
        $(function () {
            flag = 0;
            setInterval(Monitor, 3000);
            setInterval(getGroupInfo, 10000);
        });

        function Monitor()
        {
            if (flag == 0) {
                flag = 1;
                $.ajax({
                    type: "get",
                    url: "/WeChat/Monitor?uuid=@ViewBag.UUID",
                    beforeSend: function (XMLHttpRequest) {
                    },
                    success: function (data, textStatus) {
                        var s = $("#spanData").html();
                        s += data;
                        $("#spanData").html(s);
                        flag = 0;
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                    },
                    error: function () {
                    }
                })
            }
        }

        function getGroupInfo() {
            $.ajax({
                type: "get",
                url: "/WeChat/GroupInfo?uuid=@ViewBag.UUID",
                beforeSend: function (XMLHttpRequest) {
                },
                success: function (data, textStatus) {
                    $("#spanContant").html(data);
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                error: function () {
                }
            })
        }

        function send() {
            $.ajax({
                type: "post",
                url: "/WeChat/send",
                data: { Message: $("#txtMessag").val(), UUID: "@ViewBag.UUID" },
                beforeSend: function (XMLHttpRequest) {
                },
                success: function (data, textStatus) {
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                error: function () {
                }
            })
        }

        function setIsSend(checkBoxObj, contactUserName) {
            //alert(checkBoxObj.checked);
            $.ajax({
                type: "post",
                url: "/WeChat/setSend",
                data: { userName: contactUserName, isSend: checkBoxObj.checked, UUID: "@ViewBag.UUID" },
                beforeSend: function (XMLHttpRequest) {
                },
                success: function (data, textStatus) {
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                error: function () {
                }
            })
        }
    </script>
</head>


<body>
    <img src="https://login.weixin.qq.com/qrcode/@ViewBag.UUID" />
    @*<br />
    <input id="check_key" type="checkbox" onchange="javascript: setIsSend(this, 'userName');" />*@
    <br />
    <span id="spanContant"></span>
    <span id="spanTest"></span>
    <input id="txtMessag" type="text" style="width: 500px" />
    <input id="btnSend" type="button" value="发送" onclick="javascript: send();" />
    <br />
    <span id="spanData"></span>
</body>
</html>
